body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 80px;
    width: 180px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #222;
    font-size: 16px;
    text-decoration: none;
}

.menu li a:hover {
    color: #555;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .menu {
        margin-top: 20px;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.video-container {
    width: 100%;
    height: 845px;
    position: relative;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-centralizada {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-centralizada h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.section-centralizada p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}


.imagem-section {
    background-color: #f5f5f5;
}

.section-centralizada {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-centralizada h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
}


.imagem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.imagem-section h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    padding: 20px;
}

.imagem-container img {
    width: calc(25% - 10px);
    height: auto;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.imagem-container img:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {
    .imagem-container img {
        width: calc(50% - 10px);
    }
}


.lojas-section {
    background-color: #f5f5f5;
}

.lojas-section h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    padding: 20px;
}

.lojas-container {
    display: flex;
    flex-wrap: wrap;
}

.mapa-container {
    flex: 1;
    margin-right: 20px;
}

.lojas-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 20px;
}

.loja {
    flex: 1 1 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.loja:last-child {
    margin-right: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    z-index: 9999;
    display: none;
}

.btn-topo:hover {
    background-color: #555;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn-topo {
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}


.contato-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
}

.imagem-container-form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imagem-container-form img {
    width: calc(100% - 10px);
    height: auto;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

input,
textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button[type="submit"] {
    background-color: #69492a;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4e351d;
}

@media screen and (max-width: 768px) {
    .contato-section {
        padding: 30px;
    }

    .imagem-container {
        justify-content: center;
        align-items: center;
    }

    .form-container {
        margin: 0;
    }
}

footer {
    background-color: #c68c53;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-logo {
    float: left;
    margin: 30px
}

.footer-logo img {
    width: 200px;
}

.footer-info {
    overflow: auto;
}

.footer-col {
    float: left;
    margin-right: 50px;
    width: 20%;
}

.footer-col:last-of-type {
    margin-right: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


.bottom-bar {
    background-color: #8B4513;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.developed-by {
    display: flex;
    justify-content: center;
    align-items: center;
}

.developed-by p {
    margin-right: 1rem;
}

.fa-github {
    font-size: 2rem;
    color: #f5f5f5;
}